@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Departments</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/images/logo/favicon.png" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/assets/css/animate-3.7.0.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="~/assets/css/owl-carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="~/assets/css/linearicons.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->
    <!-- Header Area Starts -->
    <header class="header-area">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 d-md-flex">
                        
                    </div>
                    <div class="col-lg-3">
                         <div class="social-links">
                            <ul>
                                <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://twitter.com/?lang=en" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header" id="home">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                        <a asp-action="Index" asp-controller="Home" id="logo"><img src="~/assets/images/logo/pp_Görsel_2023-10-06_saat_01.00.32_33b12d06-removebg-preview.png" alt="" title="" /></a>
                    </div>
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li class="menu-active"><a asp-action="Index" asp-controller="Home">Home</a></li>


                            <li><a asp-action="Department" asp-controller="Home">Departments</a></li>


                            <li ><a asp-controller="Home" asp-action="Doctor">Doctors</a></li>
                            
                               
                            <li><a asp-controller="Home" asp-action="About">about us</a></li>
                                    
                            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                        </ul>
                    </nav><!-- #nav-menu-container -->
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Banner Area Starts -->
    <section class="banner-area other-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Departments</h1>
                    <a href="index.html">Home</a> <span>|</span> <a href="departments.html">Departments</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->
    <!-- Feature Area Starts -->
    @* INDEX VE INDEXLAYOUT KISMINDA *@
    <!-- Feature Area End -->
    <!-- Department Area Starts -->
    <section class="department-area section-padding4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>Popüler Departmanlar</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="department-slider owl-carousel">

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/cardiologynew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Kardioloji</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/plasticsurgerynew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Plastik Cerrahi</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/department3.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Diş Kliniği</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/eyedoctornew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Göz Hastalıkları</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/emergencynew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Acil Servis</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/mouth,chin,dentalcarenew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Ağız, Çene ve Diş Sağlığı</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/allergynew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Alerji Hastalıkları</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/anesthesiologynew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Anesteziyoloji,Anestezi ve Reanimasyon</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/nutritionanddietetics.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Beslenme ve Diyet</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/brainandneurosurgery.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Beyin ve Sinir Cerrahisi</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/checkup.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Check up</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/dermatology.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Cildiye(Dermatoloji)</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/childrendoctor1.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Çocuk Sağlığı ve Hastalıkları</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/endoscope.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Endoskopi</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/rehabilitationphysicaltherapy.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Fizik Tedavi ve Rehabilitasyon</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/generalsurgery.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Genel Cerrahi</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/intensivecare.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Genel Yoğun Bakım</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/chestdiseases.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Göğüs Hastalıkları</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/stethoscope.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>İç Hastalıkları(Dahiliye)</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/implant.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>İmplant</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/obstetrics.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Kadın Doğum(Obstetri)</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/gynecology.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Kadın Hastalıkları(Jinekoloji)</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/kbb.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Kulak,Burun,Boğaz(KBB)</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/kidney.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Nefroloji</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/neurology.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Nöroloji</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/ortodonti.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Ortodonti</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/ortopediandtrauma.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Ortopedi ve Travmatoloji</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/psychology.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Psikoloji</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/radiology1.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Radyoloji</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/labratory.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Tıbbi Laboratuvar</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/assets/images/newborn.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Yeni Doğan Yoğun Bakım</h3>
                                <p></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Department Area Starts -->
    <!-- Hotline Area Starts -->
    <section class="hotline-area text-center section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Acil Durum Çağrı Merkezi</h2>
                    <span>(+01) – 234 567 890</span>
                    <p class="pt-3">7/24 destek sağlıyoruz. Acil durumlar için lütfen <br>bizimle iletişime geçin.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Hotline Area End -->
    <!-- Footer Area Starts -->
    <footer class="footer-area section-padding">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-3">
                        <div class="single-widget-home mb-5 mb-lg-0">
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-lg-6">
                        <div class="single-widget-home mb-5 mb-lg-0">
                        </div>
                    </div>
                    <div class="col-xl-3 offset-xl-1 col-lg-3">
                        <div class="single-widge-home">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-6">

                        <span>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | BS HOSPITAL GROUP <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank"></a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="social-icons">
                            <ul>
                                <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://twitter.com/?lang=en" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
    <!-- Javascript -->
    <script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="~/assets/js/vendor/wow.min.js"></script>
    <script src="~/assets/js/vendor/owl-carousel.min.js"></script>
    <script src="~/assets/js/vendor/jquery.datetimepicker.full.min.js"></script>
    <script src="~/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/vendor/superfish.min.js"></script>
    <script src="~/assets/js/main.js"></script>



</body>
</html>
